<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <title>Side Bar</title>
        <link rel="stylesheet" href="/static/estilo.css">
        <link rel="stylesheet" href="/static/blocos.css">
        <link rel="stylesheet" href="/static/desenvolvimento.css">
        <link rel="shortcut icon " href="/static/images/icon.png">
        <link href="/static/fontawesome/css/all.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <input type="checkbox" id="btn">
            <label for="btn" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <nav id="sidebar">
                <div class="titulo">Nome Empresa</div>
                <ul class="lista">
                    <li><a href="/views/index.html"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="/views/desenvolvimento.html"><i class="fas fa-sliders-h"></i>Clientes</a></li>
                    <li><a href="/views/desenvolvimento.html"><i class="fas fa-address-book"></i>Serviços</a></li>
                    <li><a href="/views/desenvolvimento.html"><i class="fas fa-cog"></i>Configurações</a></li>
                    <li><a href="/views/desenvolvimento.html"><i class="fas fa-stream"></i>Features</a></li>
                    <li><a href="/views/login.html"><i class="fas fa-user"></i>Perfil</a></li>
                    <li><a href="/views/desenvolvimento.html"><i class="fas fa-globe-asia"></i>Linguagens</a></li>
                    <li><a href="/views/desenvolvimento.html"><i class="fas fa-envelope"></i>Contato</a></li>
                    <div class="icones">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div> <!--icones-->
                </ul>
            </nav>
        </div>
<!----------------------------------------------------------------------->
        <div id="pagina">
            <div class="conteudo">
                <div class="cabecalho">
                    <img src="/static/images/Logo.png" alt="logo">
                    <h1>Sua Logo</h1>
                </div> <!--cabecalho-->
                <div class="banner">
                    <h1>Banner</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, fugit <br>
                        quas sequi perspiciatis voluptatem dolore recusandae ad corporis provident <br>
                        amet quam nihil dicta cum dolores. Recusandae praesentium at iste eveniet.</p>
                </div> <!--banner-->
<!----------------------------------------------------------------------->
                <section class="AbaSobre">
                <div class="sobre">
                    <h1>Sobre a empresa</h1>
                    <div class="grid">
                        <div class="coluna">
                            <div class="card">
                                <img src="/static/images/imagem1.jpg" alt="imagem1">
                                <p>Title 1</p>
                            </div> <!--card-->
                        </div> <!--coluna-->

                        <div class="coluna">
                            <div class="card">
                                <img src="/static/images/imagem2.jpg" alt="imagem2">
                                <p>Title 2</p>
                            </div> <!--card-->
                        </div> <!--coluna-->

                        <div class="coluna">
                            <div class="card">
                                <img src="/static/images/imagem3.jpg" alt="imagem3">
                                <p>Title 3</p>
                            </div> <!--card-->
                        </div> <!--coluna-->
                        
                    </div> <!--grid-->
                 </div> <!--sobre-->
                </section> <!--AbaSobre-->

                <div class="servicos">
                    <div class="sobre">
                        <h1>Serviços</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil molestiae <br>
                            suscipit non consequuntur officia. Neque, odit officiis nesciunt, commodi<br>
                            esse vero earum, necessitatibus in quae temporibus eos facere eum architecto.</p>
                    </div>
                </div> <!--servicos-->
            </div> <!--conteudo-->
        </div> <!--pagina-->

<!----------------------------------------------------------------------->

        <section class="AbaBlocos">
            <div class="Blocos">

                <div class="cartoes">
                   <div class="icon2" style="--i:#343a40">
                        <ion-icon name="build-outline"></ion-icon>
                    </div> <!--icon2-->
                        <div class="content">
                            <h2>Configurações</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, quo autem.
                                 Provident labore veritatis placeat architecto esse.</p>
                        </div> <!--conteudo-->
                </div> <!--serviços-->
    
                <div class="cartoes">
                    <div class="icon2" style="--i:#ffb508">
                        <ion-icon name="analytics-outline"></ion-icon>
                    </div> <!--icon2--> 
                         <div class="content">
                            <h2>Analytics</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, quo autem.
                                 Provident labore veritatis placeat architecto esse.</p>
                         </div> <!--conteudo-->
                 </div> <!--serviços-->
    
                 <div class="cartoes">
                    <div class="icon2" style="--i:#343a40">
                        <ion-icon name="rocket-outline"></ion-icon>
                    </div> <!--icon2--> 
                         <div class="content">
                            <h2>Game dev</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, quo autem.
                                 Provident labore veritatis placeat architecto esse.</p>
                         </div> <!--conteudo-->
                 </div> <!--serviços-->
                           
                 <div class="cartoes">
                    <div class="icon2" style="--i:#ffb508">
                        <ion-icon name="cloudy-outline"></ion-icon>
                    </div> <!--icon2-->
                         <div class="content">
                            <h2>Arquivos</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, quo autem.
                                 Provident labore veritatis placeat architecto esse.</p>
                         </div> <!--conteudo-->
                 </div> <!--serviços-->
                             
                 <div class="cartoes">
                    <div class="icon2" style="--i:#343a40">
                        <ion-icon name="musical-notes-outline"></ion-icon>
                    </div> <!--icon2--> 
                         <div class="content">
                            <h2>Musicas</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, quo autem.
                                 Provident labore veritatis placeat architecto esse.</p>
                         </div> <!--conteudo-->       
                 </div> <!--serviços-->
    
                 <div class="cartoes">
                    <div class="icon2" style="--i:#ffb508">
                        <ion-icon name="earth-outline"></ion-icon>
                    </div> <!--icon2-->
                         <div class="content">
                            <h2>Contato</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, quo autem.
                                 Provident labore veritatis placeat architecto esse.</p>
                         </div> <!--content-->
                 </div> <!--Blocos-->
    
            </div> <!--Blocos-->
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        </section> <!--Aba Blocos-->

        <section class="localização">
            <div class="loc">
             <h1>Localização</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3643.5150522238614!2d-52.382961084466736!3d-24.04816048563521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ed754071f8391b%3A0x6c679332dde3e683!2sCentro%20Universit%C3%A1rio%20Grupo%20Integrado%2C%20Centro!5e0!3m2!1spt-BR!2sbr!4v1635336501059!5m2!1spt-BR!2sbr" width="100%" height="650" style="border:0;" allowfullscreen="" loading="lazy" class="mapa"></iframe>
            </div> <!--loc-->
        </section> <!--localização-->
        <section class="contato">
            <div class="AbaContato">
                <h1>Entre em Contato</h1>
            <input type="text" placeholder="Nome Completo *" class="campo" required><br>
            <input type="email" placeholder="E-mail * " class="campo" required><br>
            <textarea name="mensagem" id="mensagem" placeholder="Digite sua mensagem" rows="10" class="campo"></textarea><br>
            <button type="submit" class="botao"><i class="fas fa-check" ></i> Enviar Mensagem</button>
            </div>
        </section>
        <footer>
            <p>Imgens retiradas do site <a href="https://br.freepik.com/"> FreePick</a></p>
            <p>Criado por Wesley Kaihara</p>
        </footer>
    </body>

</html>