<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <title>Side Bar</title>
        <link rel="stylesheet" type="text/css" href="/static/estilo.css">
        <link rel="stylesheet" type="text/css" href="/static/desenvolvimento.css">
        <link rel="shortcut icon " href="/static/images/icon.png">
        <link href="/static/fontawesome/css/all.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <input type="checkbox" id="btn">
            <label for="btn" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <nav id="sidebar">
                <div class="titulo">Nome Empresa</div>
                <ul class="lista">
                    <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="desenvolvimento"><i class="fas fa-sliders-h"></i>Clientes</a></li>
                    <li><a href="desenvolvimento"><i class="fas fa-address-book"></i>Serviços</a></li>
                    <li><a href="desenvolvimento"><i class="fas fa-cog"></i>Configurações</a></li>
                    <li><a href="desenvolvimento"><i class="fas fa-stream"></i>Features</a></li>
                    <li><a href="login"><i class="fas fa-user"></i>Perfil</a></li>
                    <li><a href="desenvolvimento"><i class="fas fa-globe-asia"></i>Linguagens</a></li>
                    <li><a href="desenvolvimento"><i class="fas fa-envelope"></i>Contato</a></li>
                    <div class="icones">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div> <!--icones-->
                </ul>
            </nav>
        </div>
<!----------------------------------------------------------------------->
        <div id="pagina">
            <div class="PaginaLogado">
                <div class="cabecalho">
                    <img src="/static/images/Logo.png" alt="logo">
                    <h1>Sua Logo</h1>
                </div> <!--cabecalho-->               
                        <div class="logado">
                                <h1>Acesso Permitido</h1>
                                <p><img src="/static/images/logado.gif" alt=""></p>
                        </div> <!--logado-->
                </div><!--pagina-->

    </body>

</html>